$success: #44aa00ff;
$warning: #ffd42aff;
$danger: #ff0000ff;
$dark: #3c2310ff;
$light: #fff6d5ff;
$primary: #784421ff;
$secondary: lighten($dark, 25%);

//$body-bg: $secondary;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@import "~bootstrap/scss/bootstrap";

@each $name, $color in $theme-colors {
  .logo-#{$name} g.svg-logo {
    fill: $color;
  }
  .logo-text-#{$name} g.svg-text {
    fill: $color;
  }
}

@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a > svg {
  opacity: 0.3;
}

a:hover > svg {
  opacity: 1;
}

.activeLink > svg {
  color: $danger;
  opacity: 1;
}

ul {
  list-style-type: none;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

h1 {
  font-weight: bold;
  color: $dark;
  font-size: calc(1rem + 1vw)
}
